<?xml version="1.0" ?>
<robot name="xMateSR4C" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>
  <material name="blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>
  <material name="green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>
  <material name="grey">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>
  <material name="orange">
    <color rgba="1.0 0.423529411765 0.0392156862745 1.0"/>
  </material>
  <material name="brown">
    <color rgba="0.870588235294 0.811764705882 0.764705882353 1.0"/>
  </material>
  <material name="red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>
  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
  <material name="Beige">
    <color rgba="1.0 0.784 0.5765 1.0"/>
  </material>
  <link name="world"/>
  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="xMateSR4C_base"/>
    <!-- base关节与world固定连接，因此不用修改质量、惯量、质心等参数，不参与动力学计算 -->
  </joint>
  <link name="xMateSR4C_base">
    <visual>
      <geometry>
        <mesh filename="../stl/xMateSR4C_base.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <material name="white"/>
    </visual>
    <inertial>
      <!-- 质量参数 -->
      <mass value="3.16699999486378"/>
      <!-- 惯性张量 -->
      <inertia ixx=" 0.058267910813839" ixy="-3.715826953316560e-07" ixz="-1.05949175179955e-06" iyy=" 0.0576103483714700" iyz="-0.00456914016524626" izz=" 0.00607968319952077"/>
      <!-- 质心参数 -->
      <origin rpy="0 0 0" xyz="-0.000072769597 -0.001679187012 0.002986854502"/>
    </inertial>
    <collision>
      <geometry>
        <mesh filename="../stl/xMateSR4C_base.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
    </collision>
  </link>

  <joint name="xmate_joint_1" type="revolute">
    <parent link="xMateSR4C_base"/>
    <child link="xMateSR4C_link1"/>
    <limit effort="300" lower="-3.1416" upper="3.1416" velocity="10"/>
    <axis xyz="0 0 1"/>
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  <transmission name="tran1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="xmate_joint_1">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor1">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>100</mechanicalReduction>
    </actuator>
  </transmission>

  <link name="xMateSR4C_link1">
    <visual>
      <geometry>
        <mesh filename="../stl/xMateSR4C_link1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.328"/>
      <material name="white"/>
    </visual>
    <inertial>
      <origin xyz="1.09999999999679e-05 -0.00799199999999364 -0.0921580000000931" rpy="0 0 0"/>
      <mass value="3.16699999486378"/>
      <inertia ixx="0.058267910813839" ixy="-3.715826953316560e-07" ixz="-1.05949175179955e-06" iyy="0.0576103483714700" iyz="-0.00456914016524626" izz="0.00607968319952077"/>
    </inertial>
    <collision>
      <geometry>
        <mesh filename="../stl/xMateSR4C_link1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
  </link>

  <joint name="xmate_joint_2" type="revolute">
    <parent link="xMateSR4C_link1"/>
    <child link="xMateSR4C_link2"/>
    <limit effort="300" lower="-2.4222" upper="2.35619" velocity="10"/>
    <axis xyz="0 1 0"/>
    <origin xyz="0 0 0.328" rpy="0 0 0" />
  </joint>
  <transmission name="tran2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="xmate_joint_2">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor2">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <link name="xMateSR4C_link2">
    <visual>
      <geometry>
        <mesh filename="../stl/xMateSR4C_link2.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
      <material name="white"/>
    </visual>
    <inertial>
      <origin xyz="0.169304139589595 -0.0167375750841445 -0.0698168604257776" rpy="0 0 0"/>
      <mass value="3.89505775503759"/>
      <inertia ixx="0.0380304151034530" ixy="0.0419599871875192" ixz="0.0436322529474843" iyy="0.263486545009477" iyz="-0.00383736352324302" izz="0.250878539307793"/>
    </inertial>
    <collision>
      <geometry>
        <mesh filename="../stl/xMateSR4C_link2.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.0"/>
    </collision>
  </link>

  <joint name="xmate_joint_3" type="revolute">
    <parent link="xMateSR4C_link2"/>
    <child link="xMateSR4C_link3"/>
    <limit effort="300" lower="-2.96555" upper="2.35619" velocity="10"/>
    <axis xyz="0 -1 0"/>
    <origin xyz="0.050 0 0.4031" rpy="0 0 0" />
  </joint>
  <transmission name="tran3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="xmate_joint_3">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor3">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <link name="xMateSR4C_link3">
    <visual>
      <geometry>
        <mesh filename="../stl/xMateSR4C_link3.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="white"/>
    </visual>
    <inertial>
      <origin xyz="-0.00101677311184785 0.0992317670799201 -0.00599764278732221" rpy="0 0 0"/>
      <mass value="1.55161965449885"/>
      <inertia ixx="0.0359185029001311" ixy="0.00357521327138579" ixz="0.000314442104644629" iyy="0.00328728806178666" iyz="0.00270560721315391" izz="0.0354951529635439"/>
    </inertial>
    <collision>
      <geometry>
        <mesh filename="../stl/xMateSR4C_link3.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
  </link>

  <joint name="xmate_joint_4" type="revolute">
    <parent link="xMateSR4C_link3"/>
    <child link="xMateSR4C_link4"/>
    <limit effort="300" lower="-3.1416" upper="3.1416" velocity="10"/>
    <axis xyz="0 0 1"/>
    <origin xyz="-0.050 0 0.4" rpy="0 0 0" />
  </joint>
  <transmission name="tran4">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="xmate_joint_4">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor4">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <link name="xMateSR4C_link4">
    <visual>
      <geometry>
        <mesh filename="../stl/xMateSR4C_link4.stl" scale=".001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <material name="white"/>
    </visual>
    <inertial>
      <origin xyz="-2.50011383739252e-05 -0.0109230011023275 -0.071266999970154" rpy="0 0 0"/>
      <mass value="1.8819999954753"/>
      <inertia ixx="0.0231030453535813" ixy="-2.36395069266735e-06" ixz="-2.48326590911455e-06" iyy="0.0220785414360184" iyz="-0.00290398198945597" izz="0.00301282626685543"/>
    </inertial>
    <collision>
      <geometry>
        <mesh filename="../stl/xMateSR4C_link4.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
    </collision>
  </link>

  <joint name="xmate_joint_5" type="revolute">
    <parent link="xMateSR4C_link4"/>
    <child link="xMateSR4C_link5"/>
    <limit effort="300" lower="-3.1416" upper="3.1416" velocity="10"/>
    <axis xyz="0 -1 0"/>
    <origin xyz="0 0.136 0" rpy="0 0 0" />
  </joint>
  <transmission name="tran5">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="xmate_joint_5">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor5">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <link name="xMateSR4C_link5">
    <visual>
      <geometry>
        <mesh filename="../stl/xMateSR4C_link5.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="white"/>
    </visual>
    <inertial>
      <origin xyz="-0.00141300709545952 0.0118448713738878 -0.0209142000136706" rpy="0 0 0"/>
      <mass value="1.34621855234916"/>
      <inertia ixx="0.00568553742802938" ixy="1.20535594054042e-05" ixz="-4.97420578495685e-05" iyy="0.00444010179654207" iyz="0.000717862262034322" izz="0.00277209865650963"/>
    </inertial>
    <collision>
      <geometry>
        <mesh filename="../stl/xMateSR4C_link5.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
  </link>

  <joint name="xmate_joint_6" type="revolute">
    <parent link="xMateSR4C_link5"/>
    <child link="xMateSR4C_link6"/>
    <limit effort="300" lower="-3.14" upper="3.14" velocity="10"/>
    <axis xyz="0 0 1"/>
    <origin xyz="0 0 0.1035" rpy="0 0 0" />
  </joint>
  <transmission name="tran6">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="xmate_joint_6">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor6">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <link name="xMateSR4C_link6">
    <visual>
      <geometry>
        <mesh filename="../stl/xMateSR4C_link6.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      <material name="white"/>
    </visual>
    <inertial>
      <origin xyz="7.29993135608786e-05 7.90001800890199e-05 -0.044852999792348" rpy="0 0 0"/>
      <mass value="0.633999997351584"/>
      <inertia ixx="0.00227249981806468" ixy="-1.38365624835237e-06" ixz="2.97586698701961e-06" iyy="0.00227800923976532" iyz="3.82651246364623e-06" izz="0.000447957334568561"/>
    </inertial>
    <collision>
      <geometry>
        <mesh filename="../stl/xMateSR4C_link6.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
    </collision>
  </link>
</robot>